header {
  width: 100%;
  height: 10%;
  background-color: #e8ca8b;
  border: solid black 3px;
}

#title {
  text-align: center;
  width: 100%;
}

h2 {
  font-family: Georgia;
  display: inline-block;
}

ul {
  font-family: Helvetica;
}

section {
  display: inline-block;
  margin: 60px;
  background-color: #e8ca8b;
  border: solid black 3px;
}

#salesContent {
  margin: 5%;
}

body {
  background-color: #c76950;
}
