header {
  width: 100%;
  height: 10%;
}

#title {
  text-align: center;
  width: 100%;
}

h2 {
  font-family: Georgia;
  display: inline-block;
}

ul {
  font-family: Helvetica;
}

section {
  display: inline-block;
  margin: 60px;
}

#salesContent {
  margin: 5%;
}
